.header {
    background: linear-gradient(to right, #2D5134, #64B775);
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
}

.navegador {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 20px;
}

.imagem {
    margin: 8px;
    width: 4vw;
    height: auto;
    border-radius: 100%;
    background-color: aliceblue;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name h1 {
    font-family: '';
}

.acessos {
    background-color: #64B775;
    display: flex;
    justify-content: center;
}

.acessos ul {
    width: 100vw;
    height: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.acessos li {
    text-decoration: none;
    list-style: none;
    font: inherit;
    color: inherit;
}

.acessos li a {
    text-decoration: none;
    list-style: none;
    font: inherit;
    color: inherit;
}

.medico, .paciente, .agendamento {
    width: 10%;
    max-width: 10%;
    height: auto;
    display: flex;
}

.medico ul, .paciente ul, .agendamento ul {
    width: 10vw;
    height: auto;
    margin-bottom: -20vh;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #64B775;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.medico ul {
    margin-left: -6vw;
}

.paciente ul {
    margin-left: -6vw;
}

.agendamento ul {
    margin-left:-8vw;
}

.medico ul li, .paciente ul li, .agendamento ul li {
    list-style: none;
    font: inherit;
    background: none;
    color: inherit;
}

.medico ul li a, .paciente ul li a, .agendamento ul li a {
    color: black;
    list-style: none;
    text-decoration: none;
}

@media (max-width: 400px) {
    .acessos {
        padding: 0 20px;
        font-size: 12px;
    }

    .medico ul {
        gap: 5px;
        width: 750px;
        padding: 20%;
        margin-left: -40px;
    }
    
    .paciente ul{
        gap: 5px;
        width: 750px;
        padding: 20%;
        margin-left: -50px;
    }
    
    .agendamento ul{
        gap: 5px;
        width: 750px;
        padding: 20%;
        margin-left: -75px;
    }

    .imagem {
        width: 9vw;
        height: auto;
    }
}
